/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html,body {
    background-color: #000;
}





/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "compass/css3";
@import "compass/css3/images";

// MEDIA QUERIES

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 767px)  { @content; }
  }
  @else if $point == large {
    @media (max-width: 995px) { @content; }
  }
  @else if $point == x-large {
    @media (min-width: 1024px) { @content; }
  }

}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
    @include text-shadow(0 1px 1px rgba(0,0,0,.5));
    font-weight: lighter;
}

h1 {
    color: #fff;
    font-size: 60px;
    @include breakpoint(mobile){
      font-size: 30px;
    }
}

h3 {
    color: #cbcbcb;;
    font-size: 30px;
    margin: 0 auto 60px;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint(mobile){
      font-size: 24px;
    }
}

h4 {
    color: #aaa;
}

.section2 h3 {
    max-width: 860px;
}

.section3 h3 {
    max-width: 990px;
}

.section4 h3 {
    max-width: 1000px;
}

.section5 h3 {
    position: absolute;
}

img {
    display: block;
    margin: 0 auto;
    @include breakpoint(mobile){
     width: 90%; 
    }
}

.arrow-link img {
    @include breakpoint(mobile){
     width: 100px; 
    }
}

.section1 img {
    margin-top: 30px;
}

.section1 img.ipad {
    margin-top: 40px;
}

.kickstarter-btn {
    @include opacity(.7);
}

a#kickstarter {
    z-index: 999;
}

.kickstarter-btn:hover {
    @include opacity(1);
}

.section1 {
    background: rgba(0, 0, 0, 0) url(../img/bkg1.jpg) no-repeat;
}

.section2 {
    background: rgba(0, 0, 0, 0) url(../img/bkg2.jpg) no-repeat;
}

.section3 {
    background: rgba(0, 0, 0, 0) url(../img/bkg3.jpg) no-repeat;
}

.section4 {
    background: rgba(0, 0, 0, 0) url(../img/bkg4.jpg) no-repeat;
}

.section5 {
    background: rgba(0, 0, 0, 0) url(../img/bkg5.jpg) no-repeat;
}

.section1, .section2, .section3, .section4, .section5 {
    background-size: cover;
    height: 812px;
    padding-top: 40px;
    text-align: center;
    @include breakpoint(mobile){
     height: 600px;
    }
}

.section4 {
    height: 740px;
    @include breakpoint(mobile){
     height: 600px;
    }
}

.section5 {
    height: 1000px;
    padding-top: 40px;
    @include breakpoint(mobile){
     height: 600px;
    }
}

.more-container {
    position: relative;
    width: 833px;
    margin: 0 auto;
    margin-top: 80px;
    @include breakpoint(mobile){
     width: 100%;
    }
}

.more-container h3 {
    @include breakpoint(mobile){
     font-size: 18px
    }
}

.metronome {
    top: -40px;
    left: 70px;
    @include breakpoint(mobile){
        top: -30px;
        left: -18px;
    }
}

.visual-count {
    top: -40px;
    right: 98px;
    @include breakpoint(mobile){
        top: -30px;
        right: -2px;
    }
}

.song-linking {
    top: 346px;
    left: 108px;
    @include breakpoint(mobile){
        top: 98px;
        left: 8px;
    }
}

.unlimited-sets {
    top: 346px;
    right: 106px;
    @include breakpoint(mobile){
        top: 98px;
        right: 12px;
    }
}

footer {
    text-align: center;
    margin-top: -74px;
    height: 200px;
}

footer a, footer a:hover  {
    color: #14e06e;
}

.fixed {
    position: fixed;
    // top: -26px;
    bottom: 10px;
    left: 50%;
    margin-left: -226px;
    @include breakpoint(mobile){
     margin-left: -156px; 
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
